streamlit>=1.25 
streamlit-mic-recorder 
gtts 
ffmpeg-python 
pydub 
googletrans==4.0.0-rc1 
SpeechRecognition 
httpx==0.13.3 
openai 
PyAudio  
pipwin
STT 
vosk 
openai-whisper 
pipwin 
pydub 
ffmpeg-static 
ffmpeg-python
